<header class="header">
  <div class="header-part">
    <ul class="social-list">
      <li class="social-list__item">
        <a
          href="https://www.facebook.com/profile.php?id=100081115124854"
          class="social-item__link"
        >
          <img
            src="/assets/icons/socials/facebook.svg"
            alt="facebook"
            class="social-item__link-icon"
          />
        </a>
      </li>
      <li class="social-list__item">
        <a href="https://x.com/ShadowDrake_21" class="social-item__link">
          <img
            src="/assets/icons/socials/x.svg"
            class="social-item__link-icon"
            alt="x"
          />
        </a>
      </li>
      <li class="social-list__item">
        <a
          href="https://www.linkedin.com/in/dmytro-krapyvianskyi-3854422aa/"
          class="social-item__link"
        >
          <img
            src="/assets/icons/socials/linkedin.svg"
            class="social-item__link-icon"
            alt="linked in"
          />
        </a>
      </li>
      <li class="social-list__item">
        <a href="https://t.me/Drake21" class="social-item__link">
          <img
            src="/assets/icons/socials/telegram.svg"
            class="social-item__link-icon"
            alt="telegram"
          />
        </a>
      </li>
      <li class="social-list__item">
        <a href="https://github.com/ShadowDrake21" class="social-item__link">
          <img
            src="/assets/icons/socials/github.svg"
            class="social-item__link-icon"
            alt="github"
          />
        </a>
      </li>
    </ul>
    <app-language-switch></app-language-switch>
  </div>
</header>
