<header
  class="header"
  [ngClass]="{
    'dark-mode__header': (themeMode$ | async) === 'dark'
  }"
>
  <div class="container">
    <ul class="header__list">
      <li class="header-part">
        <div class="header-socials__wrapper" *ngIf="isHeaderFull">
          <app-socials></app-socials>
        </div>
        <div style="display: flex">
          <app-language-switch></app-language-switch>
        </div>
      </li>
      <li class="header-part">
        <div
          class="header-location"
          [class.dark-mode__text]="(themeMode$ | async) === 'dark'"
        >
          <span class="header-location__span" i18n="@@headerLocation"
            >Chernihiv, Ukraine</span
          >
        </div>
        <div class="work-available">
          <span class="work-available__text" i18n="@@headerWorkAvailable"
            >I am available for work</span
          >
        </div>
      </li>
    </ul>
    <div class="header__navbar">
      <app-navbar></app-navbar>
    </div>
  </div>
</header>
