<header class="header">
  <div class="container">
    <ul class="header__list">
      <li class="header-part">
        <div class="header-socials__wrapper">
          <app-socials></app-socials>
        </div>
        <div style="display: flex">
          <app-language-switch></app-language-switch>
        </div>
      </li>
      <li class="header-part">
        <div class="header-location">
          <span class="header-location__span">Chernihiv, Ukraine</span>
        </div>
        <div class="work-available">
          <span class="work-available__text">I am available for work</span>
        </div>
      </li>
    </ul>
    <div class="header__navbar">
      <app-navbar></app-navbar>
    </div>
  </div>
</header>
