<nav class="navbar" [class.dark-mode__navbar]="(themeMode$ | async) === 'dark'">
  <ul class="navbar__list">
    <li class="navbar__list-item" routerLinkActive="active">
      <a routerLink="/home" class="navbar__item-link">
        <img
          class="navbar__item-link__img"
          src="/assets/icons/navbar/home.svg"
          alt="home"
        />
      </a>
    </li>
    <li class="navbar__list-item" routerLinkActive="active">
      <a routerLink="/profile" class="navbar__item-link">
        <img
          class="navbar__item-link__img"
          src="/assets/icons/navbar/profile.svg"
          alt="profile"
      /></a>
    </li>
    <li class="navbar__list-item" routerLinkActive="active">
      <a routerLink="/projects" class="navbar__item-link">
        <img
          class="navbar__item-link__img"
          src="/assets/icons/navbar/portfolio.svg"
          alt="projects"
      /></a>
    </li>
    <li class="navbar__list-item" routerLinkActive="active">
      <a routerLink="/contact-me" class="navbar__item-link">
        <img
          class="navbar__item-link__img"
          src="/assets/icons/navbar/contact me.svg"
          alt="contact me"
        />
      </a>
    </li>
    <li
      class="navbar__list-item theme-mode"
      [class]="(themeMode$ | async) === 'light' ? 'light-mode' : 'dark-mode'"
    >
      <button class="navbar__item-btn" (click)="onChangeTheme()">
        <img
          class="navbar__item-link__img"
          [src]="
            (themeMode$ | async) === 'light'
              ? '/assets/icons/navbar/light mode 1.svg'
              : '/assets/icons/navbar/dark mode.svg'
          "
          alt="theme mode"
        />
      </button>
    </li>
    <li>
      <button class="download-cv__btn">Download CV</button>
    </li>
  </ul>
</nav>
