.stack-item {
  padding: 12px 15px;
  height: 80px;
  border: 1px solid var(--border-1);
  display: flex;
  align-items: center;
  gap: 15px;
}

.dark-mode__stack-item {
  border-color: var(--dark-mode__color-1);
  background-color: rgba(255, 255, 255, 0.2);
}

.stack-item__icon {
  width: 45px;
  height: 45px;
}

.stack-item__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stack-item__title {
  font-size: 18px;
  line-height: 24px;
}

.stack-item__level {
  font-size: 13px;
  line-height: 17px;
  color: #454545;
}

.dark-mode__stack-item .stack-item__level {
  color: rgb(255, 255, 255);
}
