<div
  class="stack-item"
  [class.dark-mode__stack-item]="(themeMode$ | async) === 'dark'"
>
  <div class="stack-item__icon-wrapper">
    <img [src]="stackItem.icon" class="stack-item__icon" alt="stack icon" />
  </div>
  <div class="stack-item__content">
    <h4 class="stack-item__title inter-medium">
      <ng-container *ngIf="stackItem.level; else technology">
        <span>{{
          "language_" + preprocessTitle(stackItem.title) | translate
        }}</span>
      </ng-container>
      <ng-template #technology>{{ stackItem.title }}</ng-template>
    </h4>
    <span *ngIf="stackItem.level" class="stack-item__level inter-light">{{
      "languageLevel_" + preprocessTitle(stackItem.title) | translate
    }}</span>
  </div>
</div>
