.my-story__title {
  padding-bottom: var(--spacing-20);
}

.my-story__content-item {
  padding-bottom: var(--spacing-15);
}

.my-story__content-item__title {
  padding-bottom: var(--spacing-15);
}

.my-story__content-item__text {
  text-align: end;
  padding-bottom: var(--spacing-10);
}
