@let mode = themeMode$ | async;

<section
  class="section my-story"
  [class.light-mode__section]="mode === 'light'"
  [class.dark-mode__section]="mode === 'dark'"
>
  <h2 class="section-title my-story__title">
    {{ "myStory.title" | translate }}
  </h2>
  <div class="my-story__content-item">
    <h5 class="my-story__content-item__title">
      {{ "myStory.part-1.title" | translate }}
    </h5>
    <p
      class="my-story__content-item__text"
      [class.dark-mode__text]="mode === 'dark'"
    >
      {{ "myStory.part-1.paragraphs.1" | translate }}
    </p>
  </div>
  <div class="my-story__content-item">
    <h5 class="my-story__content-item__title">
      {{ "myStory.part-2.title" | translate }}
    </h5>
    <p
      class="my-story__content-item__text"
      [class.dark-mode__text]="mode === 'dark'"
    >
      {{ "myStory.part-2.paragraphs.1" | translate }}
    </p>
    <p
      class="my-story__content-item__text"
      [class.dark-mode__text]="mode === 'dark'"
    >
      {{ "myStory.part-2.paragraphs.2" | translate }}
    </p>
  </div>
</section>
