<section
  class="section education"
  [ngClass]="{
    'light-mode__section': (themeMode$ | async) === 'light',
    'dark-mode__section': (themeMode$ | async) === 'dark'
  }"
>
  <h2 class="section-title education__title">
    {{ "education.title" | translate }}
  </h2>
  <div class="education__list">
    <div
      class="education__list-item"
      *ngFor="let item of educationContent; let i = index"
    >
      <div class="education__list-item__left">
        <h5 class="education__list-item__title inter-medium">
          {{ "education.item-1.title" | translate }}
        </h5>
        <span class="education__list-item__text">
          {{ "education.item-1.subtitle" | translate }}
        </span>
      </div>
      <div *ngIf="item.yearsToFinish" class="education__list-item__right">
        <p class="education__list-item__right-text">
          {{ "education.item-1.remainder" | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
