.education {
  min-height: 440px;
  position: relative;
}

.education__list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-15);
}

.education__title {
  padding-bottom: var(--spacing-15);
}

.education__list-item {
  position: relative;
  padding: var(--spacing-17) var(--spacing-17) var(--spacing-17) 50px;
  border: var(--spacing-1) solid var(--border-1);
  display: flex;
  align-items: center;
  gap: 45px;
}

.education__list-item::before {
  position: absolute;
  content: "";
  width: var(--spacing-20);
  height: var(--spacing-20);
  background-image: url("/assets/icons/education/bachelor-hat.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: var(--spacing-20);
  left: var(--spacing-16);
}

.education__list-item__title {
  padding-bottom: var(--spacing-12);
  font-size: var(--spacing-18);
  line-height: var(--spacing-24);
  color: var(--main-color-3);
}

.education__list-item__text {
  font-size: var(--spacing-14);
  line-height: var(--spacing-18);
  color: var(--main-color-1);
}

.education__list-item__right {
  position: relative;
  padding-left: var(--spacing-10);
}

.education__list-item__right::before {
  position: absolute;
  content: "";
  top: var(--half-spacing);
  left: var(--zero-spacing);
  transform: translateY(var(--negative-half-spacing));
  width: 4px;
  height: 4px;
  background-color: var(--black-color);
  border-radius: var(--half-spacing);
}

.education__list-item__right-text {
  font-size: var(--spacing-14);
  line-height: var(--spacing-18);
}

.dark-mode__section .education__list-item {
  border-color: var(--dark-mode__color-1);
}

.dark-mode__section .education__list-item__right::before {
  background-color: var(--white-color);
}

.dark-mode__section .education__list-item__title {
  color: var(--dark-mode__color-2);
}

@media (max-width: 700px) {
  .education__list-item {
    align-items: start;
    gap: 15px;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .education__list-item {
    gap: 10px;
  }
  .education__list-item__title {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 5px;
  }

  .education__list-item__text {
    font-size: 12px;
    line-height: 16px;
  }
}
