.language-switch {
  display: flex;
  gap: 20px;
  overflow-y: hidden;
}

.dark-mode__language-switch .language-switch__btn {
  border: #929292;
  background-color: #a1a1a1;
  color: #fff;
}

.dark-mode__language-switch .language-switch__dropdown {
  background-color: #9e9e9e;
}

.dark-mode__language-switch .language-switch__option {
  background-color: #9e9e9e;
}

.language-switch__btn {
  cursor: pointer;
  position: relative;
  z-index: 10;
  width: 170px;
  padding: 11px 17px;
  border: #454545;
  background-color: #666666;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.language-switch__icon {
  width: 23px;
  height: 23px;
  color: #fff;

  filter: invert(100%) sepia(0%) saturate(7457%) hue-rotate(28deg)
    brightness(99%) contrast(113%);
}

.language-switch__item-icon {
  width: 42px;
  height: 25px;
  object-fit: cover;
}

.current-language__icon {
  height: 45px;
}

.language-switch__dropdown {
  position: relative;
  z-index: 9;
  width: 170px;
  list-style: none;
  margin: 0;
  padding: 10px 5px;
  background-color: #999999;
  pointer-events: none;
  transform: translateY(-150%);
  transition: transform 0.5s, opacity 0.5s;
}

.language-switch__dropdown.show {
  transform: translateY(0);
  pointer-events: all;
}

.language-switch__option {
  display: flex;
  width: 100%;
  background-color: #999999;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  padding: 3px;
  margin-bottom: 5px;
  align-items: center;
  cursor: pointer;
}

.language-switch__option.active {
  background-color: #7a7a7a;
}

.language-switch__option-span {
  width: 100%;
  text-align: center;
}

.current-language__icon {
  border: 1px solid #6666;
}
