.my-github__title {
  padding-bottom: var(--spacing-15);
}

.my-github__inner {
  display: flex;
  gap: var(--spacing-40);
}

.my-github__left {
  width: 400px;
}

@media (max-width: 1100px) {
  .my-github__inner {
    flex-direction: column;
    align-items: center;
  }

  .my-github__left {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .my-github__inner {
    gap: 20px;
  }
}
