<section
  class="my-github section"
  [ngClass]="{
    'light-mode__section': (themeMode$ | async) === 'light',
    'dark-mode__section': (themeMode$ | async) === 'dark'
  }"
>
  <h2 class="my-github__title section-title" i18n="@@myGithubTitle">
    My GitHub
  </h2>
  <div class="my-github__inner">
    <div class="my-github__left">
      <app-git-profile
        [profile]="user$"
        [themeMode]="themeMode$"
      ></app-git-profile>
    </div>
    <div class="my-github__right">
      <app-repositories-list
        [repositories]="repos$"
        [themeMode]="themeMode$"
      ></app-repositories-list>
    </div>
  </div>
</section>
