.project-item {
  padding: var(--spacing-25);
  border: var(--spacing-1) solid var(--border-1);
}

.dark-mode__project-item {
  border-color: var(--dark-mode__color-1);
}

.dark-mode__project-item .project-item__link.main {
  color: var(--white-color);
}

.dark-mode__project-item .project-item__link.github {
  color: var(--dark-mode__color-1);
}

.dark-mode__project-item .project-item__technology {
  background-color: var(--white-color);
  border-radius: var(--half-spacing);
}

.project-item__img {
  width: var(--full-spacing);
  object-fit: cover;
  border-radius: 6px;
  border: var(--spacing-1) solid var(--border-1);
}

.project-item__technologies {
  padding: var(--spacing-20) var(--zero-spacing);
  display: flex;
  justify-content: center;
  gap: var(--spacing-15);
}

.project-item__technology {
  width: 35px;
  height: 35px;
}

.project-item__links {
  display: flex;
  justify-content: center;
  gap: var(--spacing-20);
}

.project-item__link.main {
  font-size: var(--spacing-18);
  line-height: var(--spacing-24);
  text-decoration: underline;
  color: var(--black-color);
}

.project-item__link.github {
  color: var(--main-color-2);
}
