<div
  class="project-item"
  [appThemeClass]="themeMode$ | async"
  classSuffix="project-item"
>
  <img
    [src]="displayProjectItem.image"
    alt="projectItem image"
    class="project-item__img"
  />

  <div class="project-item__content">
    <div class="project-item__technologies">
      @for (image of displayProjectItem.technologies; track $index) {
      <img
        [src]="image"
        class="project-item__technology"
        alt="project technology"
      />}
    </div>
    <div class="project-item__links inter-medium">
      <a
        class="project-item__link main"
        [href]="displayProjectItem.link"
        target="_blank"
        >{{ displayProjectItem.title }}</a
      >
      <a
        class="project-item__link github"
        [href]="displayProjectItem.githubLink"
        target="_blank"
        >{{ "singleProject.github-link" | translate }}</a
      >
    </div>
  </div>
</div>
