<div class="project-item">
  <img
    [src]="copiedProjectItem.image"
    alt="projectItem image"
    class="project-item__img"
  />

  <div class="project-item__content">
    <div class="project-item__technologies">
      <img
        *ngFor="let image of copiedProjectItem.technologies"
        [src]="image"
        class="project-item__technology"
        alt="project technology"
      />
    </div>
    <div class="project-item__links inter-medium">
      <a
        class="project-item__link main"
        [href]="copiedProjectItem.link"
        target="_blank"
        >{{ copiedProjectItem.title }}</a
      >
      <a
        class="project-item__link github"
        [href]="copiedProjectItem.githubLink"
        target="_blank"
        >On GitHub</a
      >
    </div>
  </div>
</div>
