<section class="section light-mode__section main-screen">
  <div class="main-screen__top">
    <div class="main-screen__image-wrapper">
      <img
        class="main-screen__image"
        src="/assets/icons/my-photos/home-page.jpg"
        alt="author-photo"
      />
    </div>
    <div class="main-screen__content">
      <h1 class="main-screen__content-title">
        Hi!<br />I'm Dmytro (Dmitri) Krapyvianskiy.<br />Web && front-end
        developer.
      </h1>
      <div>
        <p class="main-screen__content-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id
          feugiat eros. Nunc ut blandit velit. Nullam viverra orci eu nunc
          luctus, ut mattis lacus euismod. Maecenas metus est, maximus et ipsum
          hendrerit, dictum porttitor ante.
        </p>
        <p class="main-screen__content-text">
          Maecenas metus est, maximus et ipsum hendrerit, dictum porttitor ante.
        </p>
      </div>
      <helper-styled-link link="/profile" title="More about Me" />
    </div>
  </div>
  <div class="main-screen__tasks">
    <p class="main-screen__tasks-text">Some tasks I'm really good at:</p>
    <ul class="main-screen__tasks-list">
      <li class="main-screen__tasks-list__item">UI Design</li>
      <li class="main-screen__tasks-list__item">Development</li>
      <li class="main-screen__tasks-list__item">Coding</li>
      <li class="main-screen__tasks-list__item">Testing</li>
      <li class="main-screen__tasks-list__item">Debugging</li>
      <li class="main-screen__tasks-list__item">Optimization</li>
      <li class="main-screen__tasks-list__item">Maintenance</li>
      <li class="main-screen__tasks-list__item">Testing</li>
    </ul>
  </div>
</section>
