.styled-link {
  padding: 16px 48px 16px 28px;
  border: 1px solid var(--border-1);
  position: relative;
  text-decoration: none;
}

.styled-link::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url("/assets/icons/arrow-right.svg");
  background-size: contain;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
  z-index: 10;
}
