.styled-link {
  padding: 16px 48px 16px 28px;
  border: 1px solid var(--border-1);
  position: relative;
  text-decoration: none;
  color: #000;
}

.styled-link::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url("/assets/icons/arrow-right.svg");
  background-size: contain;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
  z-index: 10;
}

.dark-mode__styled-link {
  color: #fff;
  border: 1px solid var(--dark-mode__color-1);
}

.dark-mode__styled-link::after {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(117deg)
    brightness(108%) contrast(101%);
}
