<div class="tasks">
  <p class="tasks-text">Some tasks I'm really good at:</p>
  <ul class="tasks-list">
    <li class="tasks-list__item">UI Design</li>
    <li class="tasks-list__item">Development</li>
    <li class="tasks-list__item">Coding</li>
    <li class="tasks-list__item">Testing</li>
    <li class="tasks-list__item">Debugging</li>
    <li class="tasks-list__item">Optimization</li>
    <li class="tasks-list__item">Maintenance</li>
    <li class="tasks-list__item">Testing</li>
  </ul>
</div>
