<footer
  class="footer"
  [ngClass]="{
    'light-mode__section': (themeMode$ | async) === 'light',
    'dark-mode__section': (themeMode$ | async) === 'dark'
  }"
>
  <div class="footer__inner">
    <h3 class="footer__title section-title inter-semibold" i18n="@@footerTitle">
      Want to communicate with me?
    </h3>
    <div class="footer__socials">
      <p i18n="@@footerSocialsText">You can find me on such platforms:</p>
      <app-socials></app-socials>
    </div>
    <div class="footer__send-email">
      <p i18n="@@footerEmailText">Also you can send me an email:</p>
      <helper-styled-link
        link="/contact-me"
        title="Write to me"
        [themeMode]="themeMode$"
      ></helper-styled-link>
    </div>
    <p class="footer__copyright">
      © 2024 Dmytro (Dmitrii) Krapyvianskiy a.k.a Drake21 | All rights reserved
    </p>
  </div>
</footer>
