.projects__title {
  padding-bottom: var(--spacing-10);
  font-size: 36px;
  line-height: var(--spacing-40);
}

.projects-tab__filtration {
  display: flex;
  gap: var(--spacing-15);
}

.projects-tab__filtration-inner {
  display: flex;
  gap: var(--spacing-15);
}

.projects-tab__filtration-btn {
  height: var(--full-spacing);
  padding: var(--spacing-15) var(--spacing-10);
}

.projects-tab__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: var(--spacing-12);
  grid-row-gap: var(--spacing-12);
}

.projects-tab__list-noelements {
  min-height: 400px;
  width: var(--full-spacing);
  height: var(--full-spacing);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.projects-tab {
  padding-top: var(--spacing-20);
}

.project-tab__pagination {
  display: flex;
  justify-content: center;
  padding-top: var(--spacing-25);
}

@media (max-width: 1100px) {
  .projects-tab__list {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

@media (max-width: 900px) {
  .projects-tab__filtration-inner {
    width: 100%;
  }

  .projects-tab__filtration {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
  }

  .projects-tab__filtration-field {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .project-tab__pagination {
    padding-top: 15px;
  }
}
