<section class="latest-projects section light-mode__section">
  <div class="latest-projects__top">
    <h2 class="latest-project__title section-title">Last projects</h2>
    <helper-styled-link
      link="/projects"
      title="All projects"
    ></helper-styled-link>
  </div>
  <div class="latest-project__list">
    <div
      class="latest-project__list-item__wrapper"
      *ngFor="let project of lastProjectContent"
    >
      <app-project-item [item]="project"></app-project-item>
    </div>
  </div>
</section>
