<div class="page">
  <section
    class="section first-screen projects"
    [ngClass]="{
      'light-mode__section': (themeMode$ | async) === 'light',
      'dark-mode__section': (themeMode$ | async) === 'dark'
    }"
  >
    <h2 class="projects__title inter-semibold" i18n="@@projectsTitle">
      My Projects
    </h2>
    <mat-tab-group
      animationDuration="0ms"
      (selectedTabChange)="onTabChanged($event)"
    >
      <mat-tab label="Main stack" i18n-label="@@projectsMainStackTabLabel">
        <div class="projects-tab">
          <form
            [formGroup]="projectFiltrationForm"
            class="projects-tab__filtration"
          >
            <mat-form-field>
              <mat-label i18n="@@projectsSelectTechnologyLabel"
                >Technology</mat-label
              >
              <mat-select
                (selectionChange)="onFormChange()"
                formControlName="technology"
              >
                <mat-option
                  *ngFor="let technology of technologyFilterContent"
                  [value]="technology"
                  >{{ technology }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label i18n="@@projectsSelectYearLabel">Year</mat-label>
              <mat-select
                (selectionChange)="onFormChange()"
                formControlName="year"
              >
                <mat-option
                  *ngFor="let year of yearFilterContent"
                  [value]="year"
                  >{{ year }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <button
              *ngIf="projectFiltrationForm.touched"
              mat-flat-button
              color="warn"
              class="projects-tab__filtration-btn"
              type="reset"
              i18n="@@projectsResetBtn"
            >
              Reset
            </button>
            <button
              *ngIf="!checkIfDataChanged()"
              type="button"
              mat-flat-button
              color="primary"
              class="projects-tab__filtration-btn"
              (click)="loadAllProjects()"
              i18n="@@projectsLoadAllProjectsBtn"
            >
              Load all projects
            </button>
          </form>
          @if (copiedMainStackProjectsContent.length) {
          <div class="projects-tab__list">
            @for (item of copiedMainStackProjectsContent | slice:
            (mainCurrentPage-1) * itemsPerPage : mainCurrentPage * itemsPerPage;
            track item) {
            <app-project-item
              [themeMode]="themeMode$"
              [item]="item"
            ></app-project-item>
            }
          </div>
          } @else {
          <div class="projects-tab__list-noelements">
            <h4 class="inter-medium" i18n="@@projectsNoProjectText">
              There is no project that satisfy that criteria
            </h4>
          </div>
          }

          <ngb-pagination
            *ngIf="
              getContentSize('main') > itemsPerPage &&
              copiedMainStackProjectsContent.length > itemsPerPage
            "
            class="project-tab__pagination"
            [(page)]="mainCurrentPage"
            [pageSize]="itemsPerPage"
            [collectionSize]="getContentSize('main')"
          />
        </div>
      </mat-tab>
      <mat-tab label="Other" i18n-label="@@Other">
        <div class="projects-tab">
          <div class="projects-tab__list">
            @for (item of copiedOtherProjectsContent | slice:
            (otherCurrentPage-1) * itemsPerPage : otherCurrentPage *
            itemsPerPage; track item) {
            <app-project-item
              [themeMode]="themeMode$"
              [item]="item"
            ></app-project-item>
            }
          </div>

          <ngb-pagination
            *ngIf="getContentSize('other') > itemsPerPage"
            class="project-tab__pagination"
            [(page)]="otherCurrentPage"
            [pageSize]="itemsPerPage"
            [collectionSize]="getContentSize('other')"
          /></div
      ></mat-tab>
    </mat-tab-group>
  </section>
</div>
