<section class="section light-mode__section first-screen projects">
  <h2 class="projects__title inter-semibold">My Projects</h2>
  <mat-tab-group
    animationDuration="0ms"
    (selectedTabChange)="onTabChanged($event)"
  >
    <mat-tab label="Main stack">
      <div class="projects-tab">
        <form
          [formGroup]="projectFiltrationForm"
          class="projects-tab__filtration"
        >
          <mat-form-field>
            <mat-label>Technology</mat-label>
            <mat-select
              (selectionChange)="onFormChange()"
              formControlName="technology"
            >
              <mat-option
                *ngFor="let technology of technologyFilterContent"
                [value]="technology"
                >{{ technology }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Year</mat-label>
            <mat-select
              (selectionChange)="onFormChange()"
              formControlName="year"
            >
              <mat-option
                *ngFor="let year of yearFilterContent"
                [value]="year"
                >{{ year }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </form>
        <div class="projects-tab__list">
          @for (item of mainStackProjectsContent | slice: (mainCurrentPage-1) *
          itemsPerPage : mainCurrentPage * itemsPerPage; track item) {
          <app-project-item [item]="item"></app-project-item>
          }
        </div>

        <ngb-pagination
          *ngIf="getContentSize('main') > itemsPerPage"
          class="project-tab__pagination"
          [(page)]="mainCurrentPage"
          [pageSize]="itemsPerPage"
          [collectionSize]="getContentSize('main')"
        />
      </div>
    </mat-tab>
    <mat-tab label="Other">
      <div class="projects-tab">
        <div class="projects-tab__list">
          @for (item of otherProjectsContent | slice: (otherCurrentPage-1) *
          itemsPerPage : otherCurrentPage * itemsPerPage; track item) {
          <app-project-item [item]="item"></app-project-item>
          }
        </div>

        <ngb-pagination
          *ngIf="getContentSize('other') > itemsPerPage"
          class="project-tab__pagination"
          [(page)]="otherCurrentPage"
          [pageSize]="itemsPerPage"
          [collectionSize]="getContentSize('other')"
        /></div
    ></mat-tab>
  </mat-tab-group>
</section>
