<section
  class="section basic-info first-screen"
  [ngClass]="{
    'light-mode__section': (themeMode$ | async) === 'light',
    'dark-mode__section': (themeMode$ | async) === 'dark'
  }"
>
  <div class="basic-info__top">
    <img
      src="/assets/my-photos/profile-page.jpg"
      alt="my photo"
      class="basic-info__top-img"
    />
    <div class="basic-info__top-content">
      <h1 class="basic-info__top-content__title inter-semibold">
        Dmytro (Dmitri) Krapyvianskiy
      </h1>
      <div class="basic-info__top-content__text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nam
          quia cupiditate eum dolorem.
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta
          obcaecati sunt sint!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nobis
          quisquam repellat ipsum.
        </p>
      </div>
    </div>
  </div>
  <div class="basic-info__bottom">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam corrupti
      dignissimos incidunt quas perferendis labore cum ducimus ut exercitationem
      nemo, suscipit in maiores, odio, quisquam cupiditate omnis nulla ex sunt
      consequatur aut sint voluptas quaerat. Amet fugiat laborum voluptatem eum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam corrupti
      dignissimos incidunt quas perferendis labore cum ducimus ut exercitationem
      nemo, suscipit in maiores, odio, quisquam cupiditate omnis nulla ex sunt
      consequatur aut sint voluptas quaerat. Amet fugiat laborum voluptatem eum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam corrupti
      dignissimos incidunt quas perferendis labore cum ducimus ut exercitationem
      nemo, suscipit in maiores, odio, quisquam cupiditate omnis nulla ex sunt
      consequatur aut sint voluptas quaerat. Amet fugiat laborum voluptatem eum.
    </p>
    <p>Lorem, ipsum dolor.</p>
  </div>
  <app-main-tasks></app-main-tasks>
</section>
