<section
  class="section basic-info first-screen"
  [ngClass]="{
    'light-mode__section': (themeMode$ | async) === 'light',
    'dark-mode__section': (themeMode$ | async) === 'dark'
  }"
>
  <div class="basic-info__top">
    <img
      src="/assets/my-photos/profile-page.jpg"
      alt="my photo"
      class="basic-info__top-img"
    />
    <div class="basic-info__top-content">
      <h1
        class="basic-info__top-content__title inter-semibold"
        i18n="@@profileBasicInfoTitle"
      >
        Dmytro (Dmitri) Krapyvianskiy
      </h1>
      <div class="basic-info__top-content__text">
        <p i18n="@@profileBasicInfoTopText1">
          I am an enthusiastic web developer dedicated to creating stunning and
          user-friendly web-applications.
        </p>
        <p i18n="@@profileBasicInfoTopText2">
          The main advantage of Angular is its dynamic nature.
        </p>
        <p i18n="@@profileBasicInfoTopText3">
          I worship the flexibility and power of JavaScript, and the robustness
          of TypeScript.
        </p>
      </div>
    </div>
  </div>
  <div class="basic-info__bottom">
    <p i18n="@@profileBasicInfoText1">
      I'm a web developer who thrives on working with top-notch web technologies
      like Angular, JavaScript, and TypeScript, along with other tools. My
      passion for creating user-friendly web applications grows stronger every
      day. By combining my expertise in web development with a deep
      understanding of user needs, I create web applications that not only
      achieve business objectives but also leave every user delighted.
    </p>
    <p i18n="@@profileBasicInfoText2">
      I've worked with a variety of technologies like Angular, RxJS, NgRX,
      JavaScript, TypeScript, Firebase, TailwindCSS, Bootstrap 5, Angular
      Material, Stripe, and React. I also have a deep understanding of internet
      protocols such as HTTP/HTTPS and practical knowledge of back-end
      programming, for example, in NodeJS.
    </p>
    <p i18n="@@profileBasicInfoText3">
      This broad experience enables me to handle various development tasks
      efficiently and effectively.
    </p>
  </div>
  <app-main-tasks></app-main-tasks>
</section>
