.contact-form {
}

.contact-form__inner {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 40px 0 70px;
}

.contact-form__second-inner {
  max-width: 400px;
  width: 100%;
}

.contact-form__title {
  padding-bottom: 15px;
}

.contact-form__emailbox {
  margin-bottom: 45px;
  padding: 8px 10px 7px;
  border: 1px solid var(--border-1);
  color: #666666;
}

.contact-form__socials {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.contact-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form__wrapper-btn {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background-color: #000;
  padding: 11px 10px 12px;
  width: 100%;
  outline: none;
  border: none;
}

.contact-form__wrapper-btn:disabled {
  background-color: #c4c4c4;
}

.contact-form__copyright {
  font-size: 14px;
  line-height: 18px;
  color: #999999;
  text-align: center;
}

.dark-mode__section .contact-form__emailbox {
  color: var(--dark-mode__color-1);
}

.dark-mode__section .contact-form__wrapper-btn {
  background-color: #fff;
  color: #000;
}

.dark-mode__section .contact-form__wrapper-btn:disabled {
  color: #fff;
  background-color: #c4c4c4;
}
