<section
  class="section first-screen contact-form"
  [ngClass]="{
    'light-mode__section': (themeMode$ | async) === 'light',
    'dark-mode__section': (themeMode$ | async) === 'dark'
  }"
>
  <div class="contact-form__inner">
    <div class="contact-form__second-inner">
      <h2
        class="section-title contact-form__title inter-semibold"
        i18n="@@contactFormTitle"
      >
        Let's collaborate!
      </h2>
      <div class="contact-form__emailbox">
        <span i18n="@@contactFormEmail">dimka670020040&#64;gmail.com</span>
      </div>
      <div class="contact-form__socials">
        <app-socials></app-socials>
      </div>
      <form class="contact-form__wrapper" [formGroup]="contactForm" #form>
        <mat-form-field>
          <mat-label i18n="@@contactFormNameLabel">Name</mat-label>
          <input
            matInput
            formControlName="name"
            (blur)="updateErrorMessage('name')"
          />
          @if (contactForm.controls.name.invalid &&
          contactForm.controls.name.touched) {
          <mat-error>{{ nameErrorMessage }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n="@@contactFormEmailLabel">Email</mat-label>
          <input
            matInput
            formControlName="email"
            (blur)="updateErrorMessage('email')"
          />
          @if (contactForm.controls.email.invalid &&
          contactForm.controls.email.touched) {
          <mat-error>{{ emailErrorMessage }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n="@@contactFormMessageLabel">Message</mat-label>
          <textarea
            matInput
            style="resize: none; height: 180px"
            formControlName="message"
            (blur)="updateErrorMessage('message')"
          ></textarea>
          @if (contactForm.controls.message.invalid &&
          contactForm.controls.message.touched) {
          <mat-error>{{ messageErrorMessage }}</mat-error>
          }
        </mat-form-field>
        <button
          type="button"
          class="contact-form__wrapper-btn inter-semibold"
          (click)="onFormSubmit()"
          [disabled]="contactForm.invalid"
          i18n="@@contactFormBtn"
        >
          Send Message
        </button>
      </form>
    </div>
  </div>
  <p class="contact-form__copyright">
    © 2024 Dmytro (Dmitrii) Krapyvianskiy a.k.a Drake21 | All rights reserved
  </p>
</section>
