@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..900&display=swap");

:root {
  --border-1: rgba(0, 0, 0, 0.08);
}

.inter-light,
.inter-regular,
.inter-medium,
.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-light {
  font-weight: 300;
}

.inter-regular {
  font-weight: 400;
}

.inter-medium {
  font-weight: 500;
}

.inter-semibold {
  font-weight: 600;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  background-color: #f4f4f4;
  padding: 30px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
}

.section {
  width: 100%;
  padding: 24px;
}

.light-mode__section {
  background-color: #fff;
}

.container {
  max-width: 1450px;
  padding: 0 10px;
  margin: 0 auto;
}

.entire-positioning {
  position: relative;
}

.section-title {
  font-size: 28px;
  line-height: 34px;
}

.first-screen {
  padding-top: 185px;
}
