<section class="section stacks" [appThemeClass]="themeMode$ | async">
  <div class="stacks-half">
    <h2 class="stacks-title section-title">
      {{ "stacks.technologyStackTitle" | translate }}
    </h2>
    <div class="stacks-list technology-grid__list">
      @for (technology of technologyStackContent; track $index) {
      <app-stack-item
        [item]="technology"
        [themeMode]="themeMode$"
      ></app-stack-item
      >}
    </div>
  </div>
  <div class="stacks-half">
    <h2 class="stacks-title section-title">
      {{ "stacks.otherTechnologiesTitle" | translate }}
    </h2>
    <div class="stacks-list language-grid__list">
      @for (other of otherTechnologiesContent; track $index) {
      <app-stack-item [item]="other" [themeMode]="themeMode$"></app-stack-item>
      }
    </div>
  </div>
  <div class="stacks-half">
    <h2 class="stacks-title section-title">
      {{ "stacks.languageStackTitle" | translate }}
    </h2>
    <div class="stacks-list language-grid__list">
      @for (language of languageStackContent; track $index) {
      <app-stack-item
        [item]="language"
        [themeMode]="themeMode$"
      ></app-stack-item>
      }
    </div>
  </div>
</section>
