.stacks-title {
  padding-bottom: var(--spacing-20);
}

.stacks-half:first-child,
.stacks-half:nth-child(2) {
  padding-bottom: 30px;
}

.technology-grid__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: var(--spacing-20);
  grid-row-gap: var(--spacing-20);
}

.language-grid__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: var(--spacing-20);
}
