<section
  class="latest-projects section"
  [ngClass]="{
    'light-mode__section': (themeMode$ | async) === 'light',
    'dark-mode__section': (themeMode$ | async) === 'dark'
  }"
>
  <div class="latest-projects__top">
    <h2
      class="latest-project__title section-title"
      i18n="@@latestProjectsTitle"
    >
      Latest projects
    </h2>
    <helper-styled-link
      link="/projects"
      title="All projects"
      i18n-title="@@latestProjectsLink"
      [themeMode]="themeMode$"
    ></helper-styled-link>
  </div>
  <div
    class="latest-project__list"
    *ngIf="lastProjects$ | async as lastProjects"
  >
    <div
      class="latest-project__list-item__wrapper"
      *ngFor="let project of lastProjects"
    >
      <app-project-item
        [themeMode]="themeMode$"
        [item]="project"
      ></app-project-item>
    </div>
  </div>
</section>
