.latest-projects__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}

.latest-project__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.latest-project__list-item__wrapper {
  width: 100%;
}
